<h1>{{title}}</h1>
<table class="table table-hover table-dark table-responsive table-sm" id="tableOfRequests">	
	<thead>
		<tr>			
			<th scope="col">Request</th>
			<th scope="col">Date</th>
			<th scope="col">IP</th>  
			<th scope="col">Method</th> 
			<th scope="col">Protocol</th>    
			<th scope="col">Query-String</th> 
			<th scope="col">QueryParams</th>  
			<th scope="col">Cookies</th> 
			<th scope="col">Headers</th>
		</tr>
	</thead>
	<tbody>   
		{{#each requests}}
		<tr>			
			<td>{{this.trapId}}</td>
			<td>{{this.date}}</td>
			<td>{{this.ip}}</td>
			<td>{{this.method}}</td>
			<td>{{this.protocol}}</td>
			<td>{{this.query}}</td>
			<td><pre class="text-white">{{this.queryParams}}</pre></td>
			<td><pre class="text-white">{{this.cookies}}</pre></td>
			<td><pre class="text-white">{{this.headers}}</pre></td>
		</tr>	
		{{/each}}
	</tbody>	
</table>
<nav>
	<ul class="pagination nav justify-content-center">
		{{#if prevPage}}
			<li class="page-item"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
		{{/if}}		
		{{#if nextPage}}
			<li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
		{{/if}}	
	</ul>
</nav>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/client.js"></script>