<h1>{{title}}</h1> 
<table class="table table-hover table-dark">
	<caption>List of requests</caption>
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Request</th>
			<th scope="col">Date</th>
			<th scope="col">IP</th>  
			<th scope="col">Method</th> 
			<th scope="col">Protocol</th>    
			<th scope="col">Query-String</th>   
		</tr>
	</thead>
	<tbody>   
		{{#each requests}}
		<tr>
			<th scope="row">{{this.i}}</th>
			<td>{{this.trapId}}</td>
			<td>{{this.date}}</td>
			<td>{{this.ip}}</td>
			<td>{{this.method}}</td>
			<td>{{this.protocol}}</td>
			<td>{{this.query}}</td>
		</tr>	
		{{/each}}
	</tbody>	
</table>
<nav aria-label="Page navigation example">
	<ul class="pagination nav justify-content-center">
		{{#if prevPage}}
			<li class="page-item"><a class="page-link" href="?page={{prevPage}}">Previous</a></li>
		{{/if}}		
		{{#if nextPage}}
			<li class="page-item"><a class="page-link" href="?page={{nextPage}}">Next</a></li>
		{{/if}}	
	</ul>
</nav>
